<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<%if notice %><p id="notice"><%= notice %></p><% end %>
				<h3>Search results </h3>
				<% if @mybusinesses.present? %>
				    <% @mybusinesses.each do |mybusiness| %>

				        <legend><h4><%= mybusiness.name %></h4></legend>
				        <b class="badge "><%= mybusiness.district %></b>
				        <b class="badge"><%= mybusiness.village %></b>
				        <b class="badge"><%= mybusiness.contact %></b>
				        <p class="well well-sm">
				        <%= truncate(mybusiness.description, length:200)%>
				        </p>

				    <% end %>
				<% else %>
			    <p>No search items</p>
			<% end %>
		</div>
	</div>
</div>
<%= link_to 'New Mybusiness', new_mybusiness_path %>
