<p id="notice"><%= notice %></p>

<h1>Listing Mybusinesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Category</th>
      <th>District</th>
      <th>Village</th>
      <th>Contact</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mybusinesses.each do |mybusiness| %>
      <tr>
        <td><%= mybusiness.name %></td>
        <td><%= mybusiness.type %></td>
        <td><%= mybusiness.category %></td>
        <td><%= mybusiness.district %></td>
        <td><%= mybusiness.village %></td>
        <td><%= mybusiness.contact %></td>
        <td><%= mybusiness.description %></td>
        <td><%= link_to 'Show', mybusiness %></td>
        <td><%= link_to 'Edit', edit_mybusiness_path(mybusiness) %></td>
        <td><%= link_to 'Destroy', mybusiness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mybusiness', new_mybusiness_path %>
